<div class="content">
    {{appName}}
    <form ng-submit="addNewPerson()">
        <input type="text" placeholder="name" ng-model="newPerson.name">
        <p ng-if="newPerson.name.length < charachters">must be more than {{charachters}} charachters</p>
        <input type="text" placeholder="money" ng-model="newPerson.money">
        <input type="text" placeholder="status" ng-model="newPerson.status">
        <input type="submit" value="Add New Person">
    </form>
    <input type="text" ng-model="search" placeholder="search">
    <ul>
        <li ng-repeat="person in persons | orderBy: '-money' | filter: search" ng-show="true">
            {{person.name}} - {{person.money | currency: "JOD"}}
            <div class="remove" ng-click="removePerson(person)">x</div>
            <span>{{person.status}}</span>
        </li>
    </ul>
</div>